@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Airmoji';
  src: local('Airmoji'),
    url('../fonts/Airmojix/Airmojix-Regular.woff2') format('woff2');
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body,
#app {
  height: 100%;
}

.menu-popup-container {
  .el-menu {
    min-width: 115px;
  }

  .el-menu-item {
    &:hover {
      background-color: transparent !important;
    }
  }
}
